<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof title !== 'undefined' ? title : (typeof post !== 'undefined' && post ? post.title : (typeof settings !== 'undefined' && settings ? settings.title : 'Serif Blog')) %></title>
  <meta name="description" content="<%= typeof post !== 'undefined' && post ? post.meta_description : (typeof settings !== 'undefined' && settings ? settings.description : '') %>">
  <meta name="keywords" content="<%= typeof post !== 'undefined' && post ? post.keywords : '' %>">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/header') %>
  
  <main class="container">
    <%- body %>
  </main>
  
  <%- include('partials/footer') %>
</body>
</html>